@import "tailwindcss";

@theme {
  --color-header: #49bbbd;
  --color-header-text: #ffffff;
  --font-Poppins: "Poppins";
}

@layer base {
  header {
    background-color: var(--color-header);
  }
}

@layer utilities {
  .row {
    @apply flex items-center;
  }

  .row-center {
    @apply flex items-center justify-center;
  }

  .header-links {
    @apply py-3 px-10 bg-amber-50 rounded-[25px] text-[#5B5B5B];
  }

  .header-links:hover {
    @apply bg-[#7fcecf] transition-all duration-115 text-white;
  }

  .header-text {
    @apply text-[22px];
  }
}
