@import "tailwindcss";

@theme {
  --color-body-color: #f9f9fb;
  --color-header: #49bbbd;
  --color-header-text: #ffffff;
  --color-blog-main: #9dccff;
  --color-main: #696984;
  --font-Poppins: "Poppins";
  --h3-color: #595959;
  --font-Nunito-sans: "Nunito Sans";
  --font-Buenos-Aires: "Buenos Aires";
  --h3-text-size: 24px;
  --p-text-size: 20px;
  --color-hero-Blog: #ebf5ff;
  --color-items_bg: #dbf1f2;
  --color-success-details: linearGradient(to right, #136cb5, #49bbbd);
}

@layer base {
  /*header {
    background-color: var(--color-header);
  }*/
}

@layer components {
  .blog-header-nav {
    @apply text-[22px] font-Poppins tracking-[0.02] text-[#5B5B5B];
  }

  .reading-blog-content {
    /*@apply w-[(calc(100% - 228px) / 4)];*/
    @apply w-full max-w-xs md:max-w-md;
  }

  .left-right-btns {
    @apply bg-header/50 py-2.75 px-4 rounded hover:bg-header cursor-pointer duration-105;
  }

  .footer-items {
    @apply font-Poppins tracking-[0.04em] text-[22px] text-[#B2B3CF];
  }

  .marketing-card {
    @apply px-5 pt-5 pb-8 shadow-2xl rounded-[20px];
  }

  .marketing-card-img {
    @apply w-full h-fit object-cover rounded-xl;
  }

  .marketing-card-design {
    @apply flex items-center gap-2.5;
  }

  .marketing-design-duration {
    @apply font-Poppins font-medium text-main text-[14px] leading-[1.8] tracking-[0.02em];
  }

  .marketing-card-title {
    @apply text-[20px] md:text-[22px] font-Poppins font-medium mt-5 text-[#252641];
  }

  .marketing-card-body {
    @apply font-Poppins text-[15px] md:text-[16px] leading-[1.8] tracking-[0.02em] text-main mt-5;
  }

  .marketing-card-owner-price {
    @apply flex justify-between items-center mt-4.25;
  }

  .marketing-card-owner {
    @apply flex items-center gap-3;
  }

  .marketing-card-owner-name {
    @apply text-[18px] font-Poppins font-medium tracking-[0.02em];
  }

  .marketing-card-price {
    @apply flex items-center gap-3.5;
  }

  .marketing-card-price-old {
    @apply font-Poppins font-[18px] italic tracking-normal text-black/50 line-through;
  }

  .marketing-card-price-new {
    @apply font-Poppins font-bold text-[24px] tracking-[0.02em] text-[#49BBBD];
  }

  .welcome-back-section {
    @apply pt-12.5 pb-14.25 bg-[#9DCCFF]/30;
  }

  .welcome-back-section-container {
    @apply container flex flex-col items-center md:block mx-auto px-12 md:px-15 lg:px-30;
  }
}

@layer utilities {
  .row {
    @apply flex items-center;
  }

  .course-details-hero{
    background-image: url('../imgs/courseDetails/teacher-course.png')
  }

  .row-center {
    @apply flex items-center justify-center;
  }

  .header-links {
    @apply py-3 px-10 bg-amber-50 rounded-[25px] text-[#5B5B5B];
  }

  .header-links:hover {
    @apply bg-[#7fcecf] transition-all duration-115 text-white;
  }

  .header-text {
    @apply text-[22px];
  }

  .h3-text-color {
    @apply text-[#595959];
  }

  .p-text-color {
    @apply text-[#545567];
  }

  .success-part-h2-items {
    background: linear-gradient(to right, #136cb5, #49bbbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    padding: 0;
    font-family: var(--font-Buenos-Aires);
  }

  .success-part-p-items {
    font-size: 18px;
    font-family: var(--font-Buenos-Aires);
  }

  /*.temp-item {
    @apply w-[calc((100% - 60px) / 3)] bg-white ;
  }*/
}

@font-face {
  font-family: "Buenos Aires";
  src: url("../fonts/BuenosAires-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Buenos Aires";
  src: url("../fonts/BuenosAires-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
